<div style="text-align:center">
  <h1>
    {{miJuego.nombre}}
  </h1>
</div>
<div style="text-align: center">
<button *ngIf="!miJuego.generado" (click)="GenerarJuego()" class="btn btn-success btn-lg">Generar juego</button>
</div>

    
<form name ="juego-visual">

    <div style="text-align: center">
    <h1 *ngIf="miJuego.generado" >Tiempo Restante: {{Tiempo}}</h1>
    </div>
    <br>
    <div *ngIf="miJuego.generado">
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
        <button class="boton" (click)="Verificar(miJuego.numeros[0])">{{miJuego.numeros[0]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[1])">{{miJuego.numeros[1]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[2])">{{miJuego.numeros[2]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[3])">{{miJuego.numeros[3]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[4])">{{miJuego.numeros[4]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[5])">{{miJuego.numeros[5]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[6])">{{miJuego.numeros[6]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[7])">{{miJuego.numeros[7]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[8])">{{miJuego.numeros[8]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[9])">{{miJuego.numeros[9]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[10])">{{miJuego.numeros[10]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[11])">{{miJuego.numeros[11]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[12])">{{miJuego.numeros[12]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[13])">{{miJuego.numeros[13]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[14])">{{miJuego.numeros[14]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[15])">{{miJuego.numeros[15]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[16])">{{miJuego.numeros[16]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[17])">{{miJuego.numeros[17]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[18])">{{miJuego.numeros[18]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[19])">{{miJuego.numeros[19]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[19])">{{miJuego.numeros[20]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[19])">{{miJuego.numeros[21]}}</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="boton" (click)="Verificar(miJuego.numeros[19])">{{miJuego.numeros[22]}}</button>
        
        <button class="boton" (click)="Verificar(miJuego.numeros[19])">{{miJuego.numeros[23]}}</button>
      </div>
    </div>
  </form>