  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="./">Volver a sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./QuienSoy#quien">Quien</a></li>
          <li><a href="/QuienSoy#que">Ques es</a></li>
          <li><a href="/QuienSoy#git">Github</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quien"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/perfil-rodri.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy Un alumno de la UTN FRA</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico con el propósito de poder dar el parcial para aprobar la materia Laboratorio IV</h3>
    <p>El cual consiste en crear una página web que contenga varios juegos, que sean fáciles de manejar y divertidos para el usuario, y además que el mismo pueda ver sus resultados y compararlos con los demás.</p>
    <br>
    <p>Además también cree un juego propio el cual consiste en seleccionar una serie de botones, que están enumerados, de mayor a menor número sin evicocarse y antes de que se acabe el tiempo</p>
    <button class="btn btn-success" (click)="IrAMiJuego()" >Ver juego
    </button>
  </div>
   
   <!-- Footer -->
  <footer id ="git" class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/RodrigoBalabasquer"target="_blank">Rodrigo Balabasquer</a></p> 
  </footer>
  
