<!--
<form name="juego">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
     
   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  </li>
</ul>

</form>-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div style="text-align:center">
    <h1>
      {{miJuego.Nombre}}
    </h1>
  </div>
  <form name ="juego-aritmetica" style="margin: 0% auto; width: 70%;">
    <h2>Operación </h2>

    <input name="operador1" value="{{miJuego.Numero1}}" type="text" readonly>
    <br>
    <input name="operador" value="{{miJuego.Operador}}" type="text" readonly>
    <br>
    <input name="operador2" value="{{miJuego.Numero2}}" type="text" readonly>
    <br>
    <br>
    <h2>Ingrese Resulatado:</h2>
    <input [(ngModel)]="miJuego.Resultado"  name="Resultado" class="form-control input-sm chat-input" type="text">
    
    <br><br>
    <button (click)="miJuego.GenerarJuego()" class="btn btn-success btn-lg">Generar Operación</button>
    <button (click)="Verificar()" class="btn btn-info btn-lg">Verificar operación</button>
    <br><br>
    <button routerLink="/principal" class="btn btn-danger btn-lg">Volver</button>
  </form>