<div style="text-align:center">
    <h1>
      {{miJuego.nombre}}
    </h1>
  </div>
  <form name ="juego-aritmetica" style="margin: 0% auto; width: 70%;">
    <h2>Operación </h2>

    <input name="operador1" value="{{miJuego.Numero1}}" type="text" readonly>
    <br>
    <input name="operador" value="{{miJuego.Operador}}" type="text" readonly>
    <br>
    <input name="operador2" value="{{miJuego.Numero2}}" type="text" readonly>
    <br>
    <br>
    <h2>Ingrese Resulatado:</h2>
    <input [(ngModel)]="miJuego.Resultado"  name="Resultado" class="form-control input-sm chat-input" type="text">
    
    <br><br>
    <button *ngIf="generar" (click)="GenerarJuego()" class="btn btn-success btn-lg">Generar Operación</button>
    <h1 *ngIf="verificar" >Tiempo Restante: {{Tiempo}}</h1>
    <button *ngIf="verificar" (click)="Verificar()" class="btn btn-info btn-lg">Verificar operación</button>
  </form>