<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-condensed">
    <thead>
      <tr style="background-color: black;color: white;">
        <th>Juego</th>
        <th>Jugador</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado">
        <td *ngIf="juego.gano == 1" class='success'>{{juego.nombre}} </td>
        <td *ngIf="juego.gano == 0" class='danger'>{{juego.nombre}} </td>
        <td *ngIf="juego.gano == 1" class='success'>{{juego.jugador}} </td>
        <td *ngIf="juego.gano == 0" class='danger'>{{juego.jugador}} </td>
        <td *ngIf="juego.gano == 1" class='success'>Gano </td>   
        <td *ngIf="juego.gano == 0" class='danger'>Perdio</td>     
      </tr>
     
    </tbody>
  </table>